* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: #662E9B;
  font-weight: 900;
}

.note {
  color: black;
  padding-top: 3px;
  font-size: 15px;
}

.button-important {
  color: #EA3546;
  margin-left: 8px;
}

.button-unimportant {
  color: #43BCCD;
  margin-left: 8px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
